.img {
    display: flex;
    align-items: stretch;
    margin-left: 10px;
    align-items: center;
    justify-content:center;
   
  }
  .catego {
      display:flex;
    align-items: center;
    justify-content:center;
    font-size:  17px;
    margin: 6px;
}
   .catego1 {
    font-family: "Pacifico", cursive;
    display:flex;
    align-items: center;
    justify-content:center;
    font-size:  18px;
    margin:0px;
   }
  .title {
    color: #0288d1;
    text-decoration: underline;
    font-family: "Josefin Slab", serif;
    font-size: 18px;
    text-align:center;
    margin:7px;
  }
 
  .post{
    color: #bdbdbd;
    font-family: "Josefin Slab", serif;
    font-size:15px;
    margin:0;
    display:flex;
    align-items: center;
    justify-content:center;
}
  .articleItem {
    color: "black";
    font-family: "Josefin Slab", serif;
    box-sizing: border-box;
    -webkit-border-radius: 0% 0% 100% 100% / 0% 0% 8px 8px;
    -webkit-box-shadow: rgb(255, 255, 255) 0 1px 2px;
    margin: 2 auto;
    background: #fff;
    justify-content:center;
    align-items: center;
    border: 1px solid #fff;
    box-shadow: 1px 1px 3px #eeeeee inset, -1px -1px 3px #bdbdbd inset;
    border-radius: 3px/6px;
    padding: 7px;
    cursor: pointer;
  }
  
 
  @media (max-width: 1198px) {
   
  }
  