.listeArticle1 {
  width: 65%;
  margin-right: 10px;
  margin-left: 10px;
  
    
}
.listeArticle2 {
  width: 23%;
  margin-right: 20px;
  margin:0;
}

.articles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px;
  
}
.txt {
  font-family: "Patua One", cursive;
  
}
@media (max-width: 992px) {
  .listeArticle1 {
    width: 100%;
  }
  .listeArticle2 {
    display: none;
  }
}
