
.topRated  {
 margin:2px;
}
.title {
    color: black;
    font-family: "Josefin Slab", serif;
    font-size: 18px;
    display:flex;
    justify-content: center;
    align-items:center;
    font-weight: bold;
    
    margin:2px;
}
.star {
    font-weight: bold;
    margin:0px;
}
