.inputLabel {
  color: black !important;
}
.container {
  display: "flex";
  flex-wrap: "wrap";
}

.textField {
  width: 75%;
  margin-top: 15px;
}

.dense {
  margin-top: 16;
}
.text{
    font-family: "Pacifico", cursive !important;
    text-align: center;
    width: 100%;
  }

.menu {
  width: 200;
}
.loginButtonRoot {
    width: 75%;
    background-color: #0d47a1 !important;
    margin: 0 !important;
    margin-top: 15px !important;
    height: 47px; 
    color: #fff !important;
  }
  
  .loginButtonRootHover {
    background-color: #2196f3 !important;
  }
.form {
    display: flex;
    flex-direction: column;
    padding: 45px 30px 40px 30px; 
    text-align: center;
    color: black;
    align-items: center;
    background-color: white;
    min-height: calc(100vh - 66px);
  }