.loginButtonRoot {
    width: 75%;
    background-color: #0d47a1 !important;
    margin: 0 !important;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    height: 47px; 
    color: #fff !important;
    position: relative;
  }
  
  .loginButtonRootHover {
    background-color: #2196f3 !important;
  }
  .spinner{
      position: absolute;
      right: 30px;
      top: 0;
      bottom: 0;
      display:flex;
      align-items: center;
      justify-content: space-between;
      padding: 2px;
      color:white;
  }
  