.articleItem {
  color: "black";
  font-family: "Patua One", cursive;
  box-sizing: border-box;
  -webkit-border-radius: 0% 0% 100% 100% / 0% 0% 8px 8px;
  -webkit-box-shadow: rgb(255, 255, 255) 0 1px 2px;
  margin: 2 auto;
  margin-top: 5px;
  background: #fff;
  border: 1px solid #fff;
  box-shadow: 1px 1px 3px #eeeeee inset, -1px -1px 3px #bdbdbd inset;
  border-radius: 3px/6px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.text {
  padding: 10px;
  color: #424242;
  font-family: "Josefin Slab", serif;
  
}

.list :hover {
  text-decoration: underline;
  cursor: pointer;
}

.categoriesTitles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.categoryContainer {
  display: flex;
  flex-direction: column;
  padding-right: 140px;
  
}
