.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
  padding-bottom: 30px;
}
.textField {
  width: 100% !important;
  margin-top: 15px;
  flex: 1 1 auto;
}
.Title {
  display: flex;
  height: 40px;
  flex-direction: column;
}

.titleInput {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.23);
  padding: 5px 10px;
}

.Title :focus {
  outline: none;
}

/* .Post {
  width: 600px;
} */

.input {
  display: none;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #e8eaf6;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}
.listeArticle2 {
  margin-left: 70%;
  margin-right: 50px;
}
.paper {
  width: 60%;
}
.Header {
  margin-top: 40px;
  font-family: "Staatliches", cursive !important;
  color: #0d47a1;
  font-size: 25px;
}

.tabContainer {
  flex: 100%;
  display: flex;
  align-items: stretch;
  height: 48px;
}
.postIT {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabContainer :focus {
  outline: none;
}

.tabButton {
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  display: flex;
  border-style: solid;
  border-color: rgb(237, 239, 241);
  border-width: 0px 1px 1px 0px;
  border-radius: 0px;
  background: none;
  color: rgb(135, 138, 140);
  font-size: 14px;
}

.tabButtonSelected {
  border-bottom-color: #2196f3;
  border-bottom-width: 1;
  color: blue;
}
.fieldsWrapper1 {
  height: 43vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* margin-left:30px; */
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
}
.select {
  margin-top: 30px;
  margin-bottom: 20px;
  align-self: flex-start;
}
.SelectPaper {
  padding: 5px;
}
.fieldsWrapper2 {
  height: 43vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  /* margin-left:30px; */
}

.pageContainer {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.rulesContainer {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  width: 40%;
}
.Paper2 {
  width: 80%;
  padding: 30px 0px;
}
.flex {
  flex: 1 1 auto;
}
.button {
  background-color: #f4f4f4 !important;
  margin-top: 0px !important;
  margin-right: 0px !important;
  height: 47px;
  color: #000 !important;
  position: relative;
  width: auto;
}

.post {
  width: 100% !important;
  background-color: #0d47a1 !important;
  color: #fff !important;
  height: 47px;
}

.list {
  line-height: 2;
}

.buttonPadding {
  margin-top: 15px;
}

.uploadInput {
  display: none;
}
