.img {
    display: flex;
    align-items: stretch;
    margin-left: 10px;
  }
  .info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    justify-content: space-between;
  }
  .info h3 {
    margin: 0;
    color: #0288d1;
    text-decoration: underline;
    font-family: "Josefin Slab", serif;
    font-size: 18px;
  }
  .info p {
    color: #bdbdbd;
    font-family: "Josefin Slab", serif;
    display: flex;
    flex-direction: column;
    font-size:14px;
    margin: 0;
  }
  .articleItem {
    color: "black";
    font-family: "Patua One", cursive;
    box-sizing: border-box;
    -webkit-border-radius: 0% 0% 100% 100% / 0% 0% 8px 8px;
    -webkit-box-shadow: rgb(255, 255, 255) 0 1px 2px;
    margin: 2 auto;
    margin-top: 5px;
    background: #fff;
    border: 1px solid #fff;
    box-shadow: 1px 1px 3px #eeeeee inset, -1px -1px 3px #bdbdbd inset;
    border-radius: 3px/6px;
    padding: 7px;
    cursor: pointer;
  }
  
  .txt {
    margin: 10px;
    max-height: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
  }
  
  @media (max-width: 1198px) {
   
  }
  