.container {
  display: "flex";
  flex-wrap: "wrap";
}

.textField {
  width: 100%;
}

.dense {
  margin-top: 16;
}

.menu {
  width: 200;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 0px 32px 35px 32px ; 
  width: 100%;
  text-align: center;
  min-width: 470px;
}
.text{
  font-family: "Pacifico", cursive !important;
  text-align: center;
  width: 100%;
}

.loginButtonRoot {
  width: 100%;
}

.loginButtonRootHover {
  background-color: #2196f3 !important;
}
