.info {
  background: #0a3a4c;
  background-image: url("../../assests/images/categories-bg.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.info h1 {
  text-align: center;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 40px;
}
.info p {
  text-align: center;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
}

.infoCat {
  color: #2196f3;
  font-family: "Alfa Slab One", cursive;
}
.infoFind {
  text-align: center;
  color: white;
  font-family: "Josefin Slab", serif;
  font-size: 20px;
}
