.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.app-wrapper {
  background-image: url("./assests/images/bhima.jpg");
  min-height: 100vh;
  background-size: cover;
}
.app-wrapper-opacity {
}
.app-name {
  font-family: "Alfa Slab One", cursive;
}

.app-bar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 55px;
  left: 0 !important;
  right: 0 !important;
  align-items: center;
  background-image: url("./assests/images/bhima.jpg");
  
}
.app-bar-action {
  font-family: "Pacifico", cursive;
  cursor: pointer;
}
.toolbar-background {
}
.app-bar-opacity {
}
.app-bar-logo-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

h3 p {
  margin: 0;
  padding: 0;
}
.app-bar-placeholder {
  height: 55px;
}
.app-logo {
  display: flex;
  padding: 10px;
}
