.articles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  align-items: flex-start;
}

.listeArticle1 {
  width: 70%;
  margin-right: 10px;
  margin-left: 10px;
  font-family: "Patua One", cursive !important;
  box-sizing: border-box !important;
  -webkit-border-radius: 0% 0% 100% 100% / 0% 0% 8px 8px !important;
  -webkit-box-shadow: rgb(255, 255, 255) 0 1px 2px !important;
  background: #fff !important;
  border: 1px solid #fff !important;
  box-shadow: 1px 1px 3px #eeeeee inset, -1px -1px 3px #bdbdbd inset !important;
  border-radius: 3px/6px !important;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  padding-top: 0;
}
.listeArticle2 {
  width: 25%;
  margin-right: 10px;
  margin-left: 10px;
  font-family: "Patua One", cursive !important;
  box-sizing: border-box !important;
  -webkit-border-radius: 0% 0% 100% 100% / 0% 0% 8px 8px !important;
  -webkit-box-shadow: rgb(255, 255, 255) 0 1px 2px !important;
  margin: 2 auto !important;
  background: #fff !important;
  border: 1px solid #fff !important;
  box-shadow: 1px 1px 3px #eeeeee inset, -1px -1px 3px #bdbdbd inset !important;
  border-radius: 3px/6px !important;
  align-items: center;
  height: 350px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 15px;
}
.paper {
  width: 100%;
  height: 100%;
  background: #e3f2fd;
  min-height: calc(100vh - 55px);
  padding: 30px;
}
.img {
  position: relative;
  height: 100px;
  background-color: rgb(51, 168, 255);
  width: 100%;
}
.button {
  width: 100%;
  background-color: #0d47a1 !important;
  margin-top: 0px !important;
  margin-right: 0px !important;
  padding: 5px 10px !important;
  color: #fff !important;
  font-size: 12px !important;
}
.post {
  width: calc(100% - 20px);
  flex: 0 0 auto;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.img_img {
  position: absolute;
  bottom: -40px;
  height: 80px;
  width: auto;
  border: 3px solid #fff;
  left: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.detailsContainer {
  width: 100%;
  flex: 0 0 auto;
}

.details {
  position: relative;
  width: 100%;
  padding-top: 45px;
  padding-left: 10px;
  margin: 0;
}

.details p {
  margin: 0;
}

.logout {
  background-color: #bc2740 !important;
  margin-top: 8px !important;
  align-self: flex-end !important;
  color: #fff !important;
  padding: 5px 10px !important;
  font-size: 12px !important;
}

.title {
  font-size: 18px;
  font-weight: bold;
  flex: 0 0 auto;
  width: 100%;
  text-align: center;
  line-height: 36px;
  position: relative;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1 1 auto;
  font-size: 25px;
}

.titleBorder {
  position: absolute;
  bottom: 0;
  left: -15px;
  right: -15px;
  border-bottom: 1px solid #9e9e9e;
}

.imageModalContainer {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageModal {
  height: 60%;
  width: 60%;
  margin: auto;
  display: flex;
  background-color: #fff;
  border-radius: 8px;
  padding: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.imageContainer {
  flex: 1 1 auto;
  border: 1px solid #000;
  width: 60%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploadInput {
  display: none;
}

.profileImg {
  height: auto;
  width: 100%;
  flex: 0 0 auto;
}

.uploadButton {
  color: #fff !important;
  background-color: #0d47a1 !important;
  padding: 5px 20px !important;
  margin-top: 15px !important;
  flex: 0 0 auto !important;
}
