.listeArticle1 {
  width: 72%;
  margin-right: 10px;
  margin-left: 10px;
  font-family: "Patua One", cursive !important;
  box-sizing: border-box !important;
  -webkit-border-radius: 0% 0% 100% 100% / 0% 0% 8px 8px !important;
  -webkit-box-shadow: rgb(255, 255, 255) 0 1px 2px !important;
  margin: 2 auto !important;
  margin-top: 5px !important;
  background: #fff !important;
  border: 1px solid #fff !important;
  box-shadow: 1px 1px 3px #eeeeee inset, -1px -1px 3px #bdbdbd inset !important;
  border-radius: 3px/6px !important;
  padding: 7px !important;
}
.listeArticle2 {
  width: 23%;
  margin-right: 20px;
  margin: 0;
}

.articles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px;
}
.txt {
  font-family: "Patua One", cursive;
}
@media (max-width: 992px) {
  .listeArticle1 {
    width: 100%;
  }
  .listeArticle2 {
    display: none;
  }
}

.rate {
  font-family: "Pacifico", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin: 0px;
}
.form {
  width: 100% !important;
}
.inputLabel {
  width: 100% !important;
}
.img {
  display: flex;
  align-items: stretch;
  margin-left: 10px;
  width: 500px;
  height: 350px;
}
.info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  justify-content: space-between;
}
.info h3 {
  margin: 0;
  color: #0288d1;
  text-decoration: underline;
  font-family: "Josefin Slab", serif;
  font-size: 18px;
}
.info p {
  color: #bdbdbd;
  font-family: "Josefin Slab", serif;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin: 0;
}
.articleItem {
  color: "black";
  font-family: "Patua One", cursive;
  box-sizing: border-box;
  -webkit-border-radius: 0% 0% 100% 100% / 0% 0% 8px 8px;
  -webkit-box-shadow: rgb(255, 255, 255) 0 1px 2px;
  margin: 2 auto;
  margin-top: 5px;
  background: #fff;
  border: 1px solid #fff;
  box-shadow: 1px 1px 3px #eeeeee inset, -1px -1px 3px #bdbdbd inset;
  border-radius: 3px/6px;
  padding: 7px;
}

.txt {
  margin: 10px;
  max-height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
}
.textField {
  width: 100%;
}
.button {
  width: 20%;
  background-color: #0d47a1 !important;

  margin-top: 0px !important;
  margin-right: 0px !important;
  height: 47px;
  color: #fff !important;
  position: relative;
}
.positionButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.rateIt {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.youRate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.youRate p {
  padding: 10px;
}
.ratingDisplay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.triangleUp {
  all: unset;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 25px solid green;
  cursor: pointer;
}

.triangleUpDisable {
  cursor: not-allowed;
}

.triangleDown {
  all: unset;
  width: 0;
  height: 0;
  margin-top: 3px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 25px solid red;
  cursor: pointer;
}

.triangleDownDisabled {
  cursor: not-allowed;
}

.triangleDownHover {
  border-top: red;
}
@media (max-width: 1198px) {
}
